*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.destop-1{
    width: 1300px;
    height: 2003px;
    background-color: #fff;
}

.rectangle-3{
    width: 1440px;
    height: 2003px;
    flex-shrink: 0;
    background-color: #f8f8f4;
}

.frame-19{
    display: inline-flex;
   flex-direction: column;
   align-items: center;
   gap: 89px;
}

.frame-17{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.colen{
    display: flex;
    color: var(--Dark, #3c3030);
    font-family: Iowan Old Style;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    justify-content: center;
}
.icon{
    /* display: flex; */
    width: 57.291px;
    height: 60.291px;
    fill: #E84848;
    padding: 0px;
    margin-top: 30px;
    /* align-items: center; */
   
}
.area{
    display: flex;
    justify-content: center;
}
.colen-2{
    /* display: flex; */
    margin-bottom: 100px;
    color: var(--Dark, #3c3030);
    font-family: Iowan Old Style;
    font-size: 80px;
    margin-left: 5px;
    /* justify-content: end; */
    font-style: normal;
    font-weight: 400;
    /* line-height: 140%; */
    line-height: 117.6px;
}
.line-1{
    width: Hug(1,440px);
    height: Hug(1,914px);
    top: 32px;
    gap: 30px;
}
.hr{
    padding: 30px;
    margin: 50px;
    /* display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: px; */

}
.searches{
    display: flex;
    padding-left: 500px;
    margin-top: 90px;
    /* display: inline-flex; */
    /* flex-direction: column;
    align-items: center; */
    /* gap: 89px; */
}
.Go{
    background-color: #D02424;
    padding: 10px;
    color: var(--light, #FDFDFA);
    font-family: Iowan Old Style;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

}
.heading{
    color: var(--Dark-Red, #D02424);
    font-family: Inria Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: -0.4px;
    text-transform: uppercase;
}
.line{
    /* display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 89px; */
    margin-bottom: 40px;
}
.line-1{
    /* display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 89px; */
    background-color: rgb(94, 92, 92);
    padding: 1px;
    margin: 1px;

}
.line-2{
    /* display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 89px; */
    background-color: rgb(101, 99, 99);
    padding: 1px;
    margin: 1px;
}

.frame-17{
    display: grid;
    /* flex-direction: column;
    align-items: flex-start;
    gap: 25px; */
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 250px 250px;
    row-gap: 60px;
    margin-left: 130px;
    margin-top: 160px;
    column-gap: 60px;
}

.img-1{
    position: relative;
    right: 360px;
    top: 49px;
    width: 250px;
    height: 120px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.pragraph-1{
    position: relative;
    width: 250px;
    top: 177px;
    right: 720px;
    color: var(--Dark, #3C3030);
    font-family: Inknut Antiqua;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.72px;

}

.pragraph-2{
    position: relative;
    bottom: 50px;
    right: 1px;
    width: 250px;
    color: var(--Dark, #888383);
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 21.6px */
    letter-spacing: -0.72px;
}

.img-2{
    position: relative;
    width: 250px;
    height: 120px;
    bottom: 264px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.pragraph-3{
    position: relative;
    width: 250px;
    bottom: 134px;
    right: 359px;
    color: var(--Dark, #3C3030);
    font-family: Inknut Antiqua;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.72px;

}

.pragraph-4{
    position: relative;
    width: 250px;
    bottom: 390px;
    left: 359px;
    color: var(--Dark, #888383);
    font-family: Inknut Antiqua;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 21.6px */
    letter-spacing: -0.72px;

}

.img-3{
    position: relative;
    bottom: 576px;
    left: 360px;
    width: 250px;
    height: 120px;
    /* bottom: 264px; */
    background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
}
.pragraph-5{
    position: relative;
    width: 250px;
    bottom: 440px;
    left: 1px;
    color: var(--Dark, #3C3030);
    font-family: Inknut Antiqua;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.72px;
}
.pragraph-6{
    position: relative;
    width: 250px;
    bottom: 670px;
    left: 720px;
    color: var(--Dark, #888383);
    font-family: Inknut Antiqua;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 21.6px */
    letter-spacing: -0.72px;
}

.img-4{
    position: relative;
    bottom: 430px;
    right: 360px;
    width: 250px;
    height: 120px;
    /* bottom: 264px; */
    background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
}
.pragraph-7{
    position: relative;
    width: 250px;
    bottom: 295px;
    right: 720px;
    color: var(--Dark, #3C3030);
    font-family: Inknut Antiqua;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.72px;

}
.pragraph-8{
    position: relative;
    width: 250px;
    bottom: 400px;
    /* left: 720px; */
    color: var(--Dark, #888383);
    font-family: Inknut Antiqua;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 21.6px */
    letter-spacing: -0.72px;
}

.img-5{
    position: relative;
    bottom: 620px;
    right: 1px;
    width: 250px;
    height: 120px;
    /* bottom: 264px; */
    background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
}
.pragraph-9{
    position: relative;
    width: 250px;
    bottom: 490px;
    right: 360px;
    color: var(--Dark, #3C3030);
    font-family: Inknut Antiqua;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.72px;
}
.pragraph-10{
    position: relative;
    width: 250px;
    bottom: 595px;
    left: 360px;
    color: var(--Dark, #888383);
    font-family: Inknut Antiqua;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 21.6px */
    letter-spacing: -0.72px;
}

.img-6{
    position: relative;
    bottom: 809px;
    left: 360px;
    width: 250px;
    height: 120px;
    /* bottom: 264px; */
    background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
}
.pragraph-11{
    position: relative;
    width: 250px;
    bottom: 670px;
    right: 2px;
    color: var(--Dark, #3C3030);
    font-family: Inknut Antiqua;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.72px;
}
.pragraph-12{
    position: relative;
    width: 250px;
    bottom: 800px;
    left: 720px;
    color: var(--Dark, #888383);
    font-family: Inknut Antiqua;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 21.6px */
    letter-spacing: -0.72px;
}

.img-7{
    position: relative;
    bottom: 500px;
    right: 360px;
    width: 250px;
    height: 120px;
    /* bottom: 264px; */
    background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
}
.pragraph-13{
    position: relative;
    width: 250px;
    bottom: 367px;
    right: 720px;
    color: var(--Dark, #3C3030);
    font-family: Inknut Antiqua;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.72px;
}
.pragraph-14{
    position: relative;
    width: 250px;
    bottom: 495px;
    right: 0px;
    color: var(--Dark, #888383);
    font-family: Inknut Antiqua;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 21.6px */
    letter-spacing: -0.72px;
}

.img-8{
    position: relative;
    bottom: 689px;
    left: 1px;
    width: 250px;
    height: 120px;
    /* bottom: 264px; */
    background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
}
.pragraph-15{
    position: relative;
    width: 250px;
    bottom: 555px;
    right: 360px;
    color: var(--Dark, #3C3030);
    font-family: Inknut Antiqua;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.72px;
}
.pragraph-16{
    position: relative;
    width: 250px;
    bottom: 690px;
    left: 358px;
    color: var(--Dark, #888383);
    font-family: Inknut Antiqua;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 21.6px */
    letter-spacing: -0.72px;
}

.img-9{
    position: relative;
    bottom: 880px;
    left: 360px;
    width: 250px;
    height: 120px;
    /* bottom: 264px; */
    background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
}
.pragraph-17{
    position: relative;
    width: 250px;
    bottom: 748px;
    right: 1px;
    color: var(--Dark, #3C3030);
    font-family: Inknut Antiqua;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.72px;
}
.pragraph-18{
    position: relative;
    width: 250px;
    bottom: 860px;
    left: 720px;
    color: var(--Dark, #888383);
    font-family: Inknut Antiqua;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 21.6px */
    letter-spacing: -0.72px;
}

.frame-16{
    width: 1440px;
    height: 1px;
    margin-bottom: 40px;
}

.line-3{
    position: relative;
    bottom: 720px;
    /* display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 89px; */
    background-color: rgb(94, 92, 92);
    padding: 1px;
    margin: 1px;

}
.line-4{
    position: relative;
    bottom: 720px;
    /* display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 89px; */
    background-color: rgb(101, 99, 99);
    padding: 1px;
    margin: 1px;
}




